body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(18, 24, 88);
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background: rgb(52, 117, 173);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
h1 {
    margin-bottom: 20px;
    color: #154e15;
    text-shadow: 4px 4px 2px rgba(65, 22, 22, 0.45);
}

img {
    width: 25px;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-top: 20px; /* Sugestão para dar um espaçamento visual */
}

#talk-input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: none;
}
button{
    padding: 8px;
    cursor: pointer;
    background: rgb(6, 44, 52);

    color: black;
    border: redius:4px
    border 1px solid rebeccapurple;
}
filter{
    display: flex;
    flex: 1;
}

.filter{
    margin: 5px;
    background-color:#154e15;
    
}


ul{
    list-style: none;

    padding: opx;
    color: azure;
}
li{
    display: flex;
    justify-content:space-between ;
    background-color: blue;
    padding: 8px;
    margin: 5px; 0;
    bordder: radius 4px;
}

complat{
    text-decoration: line-through;
    color: #154e15;

}


darkmold{
    background-color: black;



}